rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // PERMITIR TUDO: Isso permite que qualquer visitante crie agendamentos e veja os dados.
      // Num cenário real, você deve proteger áreas como "admin" usando Firebase Auth depois.
      allow read, write: if true;
    }
  }
}